.navbar {
    background-color: #586bb7;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main { flex-grow: 1; }

.header {
    position: fixed;
}

.navbar-brand {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color:white;
}

.jumbotron {
    margin-block-start: 3.5em;
    /*height: 720px;
    background-color: rgb(253, 245, 232);*/
    /*background: url('images/tg00440_copy3.jpg');*/
    background-color: white;
    background-size: cover;
    opacity: 1;
    text-align: center;
    vertical-align: text-bottom;
    text-shadow: 1px 1px 2px white;
    color: black;
}

.btn {
    text-shadow: none;
}

.display-4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lead {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#btn1 {
    margin-right: 20px;
}

#btn2 {
    margin-right: 20px;
}

#carouselExampleIndicators {
    margin: 150px;
    margin-top: 0px;
    margin-bottom: 75px;
    z-index: -1;
}

#container_1 {
    margin-block-start: 3.5em;
}

#research {
    margin-block-start: 5em;
    font-size: medium;
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 2.75em;
    color: white;
    background-color: #AE9886;
  }
  
  fieldset{
    background-color:#9caffb;
    border:solid 1px;
  }
  
  /*label, input, legend{
    font-family:sans-serif;
  }*/
  
  legend{
    font-size:18px;
    border:solid 1px;
    width:100px;
    background-color:#9caffb;
  }
  
  .mb-3 {
    z-index: -1;
  }

  .input-group {
    z-index: 1;
  }
